::ng-deep .nav-tabs {
  --bs-nav-tabs-border-width: 0;
  --bs-nav-tabs-border-color: 0;
}

::ng-deep .nav-link {
  color: #808080;
  font-size: 14px;
  font-weight: 400;
}

::ng-deep .nav-tabs .nav-link.active {
  font-weight: 700;
  font-size: 14px;
}

.title-style {
  color: #282b31;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 3px;
}

.date-style {
  color: #808080;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 0px;
}

.total-sales {
  color: #808080;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 6px;
}

.total-amount {
  color: #282b31;
  font-weight: 700;
  font-size: 20px;
  margin: 0px;
}

.table-wrapper {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0;
  padding: 6px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
