<div class="sign-in-container">
  <div class="sign-in-box">
    <div class="sign-box">
      <h1>Sign in</h1>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <!-- Email Field -->
        <label for="email">Enter your username or email address</label>
        <input
          id="email"
          type="email"
          [formControl]="form.controls.email"
          placeholder="Enter your email address"
        />
        @if (emailIsInvalid) {
          <div class="error-message">
            <span>Please enter a valid email address</span>
          </div>
        }
      </div>

      <div class="input-group">
        <!-- Password Field -->
        <label for="password">Enter your Password</label>
        <input
          id="password"
          type="password"
          formControlName="password"
          placeholder="Enter your Password"
        />
        @if (passwordIsInvalid) {
          <div class="error-message">
            <span>Password must be at least 6 characters long</span>
          </div>
        }
      </div>
      <div class="forgot-password">
        <a href="#" class="forgot-link">Forgot Password?</a>
      </div>

      <div class="btn-container">
        <button class="sign-in-button">Sign In</button>
      </div>
      <div class="bg"></div>
    </form>
  </div>
</div>
