<div class="container">
  <div class="form-container">
    <div class="form-background">
      <div class="form-inner">
        <span class="form-title">Sign in </span>
        <form [formGroup]="regForm" (ngSubmit)="signIn()">
          <div class="form-field">
            <label for="userName">UserName</label>
            <input
              formControlName="userName"
              type="text"
              name="username"
              id="userName"
            >
            @if (regForm.get('userName')?.touched && regForm.get('userName')?.invalid) {
              <div class="error-message">
                @if (regForm.get('userName')?.errors?.['required']) {
                  <span>User name is required</span>
                }
                @if (regForm.get('userName')?.errors?.['minlength']) {
                  <span>User name must be at least 4 characters long</span>
                }
                @if (regForm.get('userName')?.errors?.['maxlength']) {
                  <span>User name must not exceed 8 characters</span>
                }

          </div>
          }
      </div>
      <div class="form-field">
        <label for="email">Email</label>
        <input
          formControlName="email"
          type="email"
          name="email"
          id="email"
        >
        @if (regForm.get('email')?.touched && regForm.get('email')?.invalid) {
          <div class="error-message">
            @if (regForm.get('email')?.errors?.['required']) {
              <span>Email is required</span>
            }
            @if (regForm.get('email')?.errors?.['email']) {
              <span>Please enter a valid email address</span>
            }

      </div>
      }
    </div>
    <div class="form-field">
      <label for="password">Password</label>
      <input
        formControlName="password"
        type="password"
        name="password"
        id="password"
      >
      @if (regForm.get('password')?.touched && regForm.get('password')?.invalid) {
        <div class="error-message">
          @if (regForm.get('password')?.errors?.['required']) {
            <span>Password is required</span>
          }
          @if (regForm.get('password')?.errors?.['minlength']) {
            <span>Password must be at least 6 characters long</span>
          }

    </div>
    }
  </div>
  <div class="form-field">
    <button
      type="submit"
      class="submit-button"
      [disabled]="regForm.invalid"
    >
      Submit
    </button>
  </div>
  </form>
</div>
</div>
</div>
</div>

