<!--<div class="map-container">-->
<!--  <app-leaflet-map/>-->
<!--  <div class="search-form-overlay">-->
<!--    <app-search-form></app-search-form>-->
<!--  </div>-->

<!--</div>-->
<!--<app-sign-in/>-->



<!--222222222222-->
<div class="map-container">
  <app-leaflet-map/>
 <app-show-results/>


<!--  <app-dhaka/>-->
<!--  it shows boundary of the dhaka-->

<!--  <div class="search-form-overlay">-->
<!--    <app-search-form></app-search-form>-->
<!--  </div>-->
</div>

<!--for http request-->
<!--<h1>Posts</h1>-->
<!--@for (post of posts; track post.id){-->
<!--  <h2>{{post.title}}</h2>-->
<!--  <p>{{post.body}}</p>-->
<!--} @empty {-->
<!--  <p>No posts found</p>-->
<!--}-->


