<div class="mt-0 d-flex justify-content-center">
<!--  <div class="w-100">-->
<!--    <div-->
<!--      class="border rounded p-2 mb-4 d-flex justify-content-between flex-row gap-2 align-items-center"-->
<!--      style="background-color: #ffffff; padding: 10px"-->
<!--    >-->
<!--      <div class="d-flex flex-column">-->
<!--        <h5 class="mb-1">Ace 500 mg</h5>-->
<!--        <span class="text-muted">Tablet</span>-->
<!--      </div>-->
<!--      <h4 class="mt-2 fw-bold">৳ 50,00,00,000</h4>-->
<!--    </div>-->
<!--    <div class="border rounded p-2 mb-2">-->
<!--      <div class="d-flex justify-content-between">-->
<!--        <span class="text-style">Highest sales in</span>-->
<!--        <span class="text-style">Pabna</span>-->
<!--      </div>-->
<!--      <div class="d-flex justify-content-between">-->
<!--        <span class="text-style">Lowest sales in</span>-->
<!--        <span class="text-style">Cox’s Bazar</span>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="border rounded p-2 mb-2">-->
<!--      <div class="d-flex justify-content-between">-->
<!--        <span>Best Performance in</span>-->
<!--        <span>March</span>-->
<!--      </div>-->
<!--      <div class="d-flex justify-content-between">-->
<!--        <span>Lowest Performance in</span>-->
<!--        <span>January</span>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</div>
