.search-form-container {
  /*background-color: #f0f4f8;*/
  background-color: #FFFFFF99;
  padding: 20px;
  border-radius: 8px;
  /*max-width: 400px;*/
  margin: 0 auto;
  height: 450px;
  width: 352px;

}
.btng{
  display: flex;
  padding: 10px 16px 9px 8px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 12px;
  background-color: #34A853;
  /*padding: 10px 20px;*/
  border: none;
  /*border-radius: 4px;*/
  cursor: pointer;
  width: 100%;


}
.search-button{
  background-color: transparent;
  border: none;
  box-shadow: none;
  /*color: #FFFFFF;*/
  text-color: white;
}
form div {
  margin-bottom: 15px;
}

/*label {*/
/*  display: block;*/
/*  margin-bottom: 5px;*/
/*  font-weight: bold;*/
/*}*/

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}


/*button:disabled {*/
/*  background-color: #ffffff;*/
/*  cursor: not-allowed;*/
/*}*/

