<div class="container search-form">
  <form [formGroup]="searchForm" (ngSubmit)="searchHandler()">
    <div class="mb-3">
      <label for="genericBrand" class="form-label">Generic/Brand</label>
      <input
        type="text"
        class="form-control form-input"
        id="genericBrand"
        formControlName="brand_name"
        placeholder="Search by generic/brand..."
        appClearInput
      />
      <!-- Suggestions show if there any -->
      @if (suggestions.length > 0) {
        <div class="suggestions-list">
          <ul>
            <!-- Iterate over suggestions -->
            @for (suggestion of suggestions; track suggestion) {
              <li (click)="selectSuggestion(suggestion)">
                {{ suggestion.genericName }}
                <!-- Display suggestion text -->
              </li>
            }
          </ul>
        </div>
      }
    </div>

    <div class="mb-3">
      <label for="vendor" class="form-label">Vendor</label>
      <input
        type="text"
        class="form-control form-input"
        id="vendor"
        formControlName="vendor_name"
        placeholder="Search by location..."
        appClearInput
      />
    </div>
    <div class="mb-3">
      <label for="startDate" class="form-label">Start date</label>
      <input
        type="date"
        formControlName="start_date"
        class="form-control form-input"
        id="startDate"
        appClearInput
      />
    </div>
    <div class="mb-3">
      <label for="endDate" class="form-label">End date</label>
      <input
        type="date"
        formControlName="end_date"
        class="form-control form-input"
        id="endDate"
        appClearInput
      />
    </div>
    <button type="submit" class="btn btn-success w-100">
      <i class="fas fa-search"></i> Search
    </button>
  </form>
</div>
